# Extensions
*.css
*.html
*.scss
*.snap
*.svg
*.yaml
*.yml
*.json

# Directories
public/**
.github/**
.husky/**

# Files
.cz.json
.eslintignore
index.html
LICENSE
README.md

# Firebase
.firebaserc
*.rules
functions
