.wrap {
  background-color: rgb(0 133 255);
  border-radius: $shape_borderRadius;
  border: 0;
  color: rgb(255 255 255);
  cursor: pointer;
  font-size: 16px;
  min-height: 30px;
  padding: 12px 16px;

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

  &:hover,
  &:focus {
    background-color: $grey_light100;
    box-shadow: $focusShadow;
  }

  &.danger {
      color: $white;
      background-color: $red_main;
  }

  &.success {
    color: $white;
    background-color: $green_main;
  }

  &.text {
    color: $black;
    background-color: $white;
  }
}
