.appName {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    color: black;
    text-decoration: none;

    img {
      height: 2.5rem;
      margin-right: 0.4rem;
    }
}

.leftNav,
.rightNav {
    display: flex;
    align-items: center;
}

.menuItem {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 70px;
  height: 40px;
  margin: 0 1rem;
  padding: 8px 12px;
  border-radius: 4px;
  color: black;

  &:hover,
  &:focus {
    background-color: rgb(225, 225, 225);
  }
}
