$unit: 8;
$black: #11121b;
$blue-dark: #003fc4;
$blue-extra-light: #e4ecff;
$blue-light: #2f70ff;
$blue-main: #1565ea;
$blue-transparent: rgb(228 236 255 / 50%);
$red-dark: #bf1f02;
$red-main: #e54528;
$red-light: #fce9e5;
$orange-dark: #b38000;
$orange-main: #ffcc34;
$orange-light: #fff7e6;
$green-dark: #147d11;
$green-main: #56bf53;
$green-light: #ecf9ec;
$green-secondary: #54bd51;
$purple-main: #5f4bb6;
$purple-light: #efedf8;
$pink-dark: #e8465f;
$pink-main: #f3abbb;
$pink-light: #fdf2f7;
$pink-secondary: #f2a8cb;
$grey-light100: #f3f3f3;
$grey-light120: #f0f0f2;
$grey-light200: #d5d5d7;
$grey-medium300: #cdcdce;
$grey-medium400: #acacae;
$grey-medium500: #929294;
$grey-dark700: #79797b;
$grey-dark800: #464648;
$grey-dark900: #2d2d2f;
$text-light: $grey-medium500;
$text-semi-light: $grey-dark700;
$text-main: $grey-dark800;
$text-dark: $grey-dark900;
$text-disabled: rgba($grey-dark800, 0.34);
$text-green: $green-dark;
$primary-contrast: #fff;
$error-contrast: #fff;
$warning-contrast: $text-main;
$white: #fff;
$breakpoints-small: 500px;
$breakpoints-medium: 769px;
$breakpoints-large: 993px;
$breakpoints-xlarge: 1200px;
$breakpoints-xxlarge: 1800px;
$focus-shadow: 0 0 0 3px #c0d2fb;
$focus-shadow-inset: 0 0 0 3px #c0d2fb inset;
$content-padding-medium: 32px;
$content-padding-large: 48px;
$shape-border-radius: 4px;
$shape-large-border-radius: 8px;
$shape-xlarge-border-radius: 16px;
$shape-input-border-color: $grey-medium300;
$shape-input-border-color-disabled: $grey-light200;
$shape-input-border-thickness: 1px;
$shape-input-medium-height: 43px;
$shape-input-medium-side-padding: 12px;
$shape-input-large-height: 52px;
$shape-input-large-side-padding: 15px;
$button-xlarge-height: 60px;
$button-large-height: 52px;
$button-medium-height: 39px;
$button-small-height: 30px;
$button-tiny-height: 22px;
$icon-button-medium-size: 36px;
$icon-button-small-size: 24px;
$icon-button-tiny-size: 16px;
$shadows-subtle: 0 1px 8px -3px rgb(0 0 0 / 30%);
$shadows-medium: 0 3px 12px -3px rgb(0 0 0 / 25%);
$shadows-large: 0 6px 50px 1px rgb(0 0 0 / 25%);
$shadows-cloud: -8px 9px 48px rgb(218 224 236 / 22%);
$text-font-family: inter-regular;
$text-line-height: 1.4rem;
$text-line-height-tall: 1.6rem;
$text-font-weight-regular: 400;
$text-font-weight-semibold: 600;
$text-font-weight-bold: 700;
$text-font-weight-extrabold: 800;
