.loading {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
  text-transform: uppercase;
}

.loading-text {
  margin: 0 0 32px;
  font-size: 1.5rem;
  font-weight: 500;
}

.linear-progress {
  min-width: 300px;
}
